<!-- Add New Expense Modal -->
<div id="expenseModal" class="new-expense-modal">
  <div class="modal-content">
    <span class="close"><i class="fa-solid fa-xmark"></i></span>
    <h3>Add New Expense</h3>
    <form action="/transactions" method="POST">
      <input type="hidden" name="transaction_type" value="expense">
      <div class="form-group">
        <label for="category" class="text-medium">Category</label>
        <select id="category" name="category">
          <% categories.forEach((category)=> { %>
            <% if (category.category_type==='expense' ) { %>
              <option value="<%= category.id %>">
                <%= category.name %>
              </option>
              <% } %>
                <% }) %>
        </select>
      </div>
      <div class="form-group">
        <label for="amount" class="text-medium">Amount (<strong>$</strong>)</label>
        <input type="number" min="1" step="any" name="amount">
      </div>
      <div class="form-group">
        <label for="description" class="text-medium">Description</label>
        <textarea name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="date" class="text-medium">Transaction Date</label>
        <input type="date" name="date">
      </div>
      <div class="form-group">
        <button type="submit" class="btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>