<form class="search-form" action="/search" method="GET">
  <div class="search-box">
    <button><i class="fa fa-search"></i></button>
    <input type="text" name="query" placeholder="Search...">
  </div>
</form>