<aside>
  <form class="search-form" action="/search" method="GET">
    <div class="search-box">
      <button><i class="fa fa-search"></i></button>
      <input type="text" name="query" placeholder="Search...">
    </div>
  </form>

  <h3>Filter Records</h3>

  <h4>Categories</h4>
  <h4>Record Types</h4>
  <h4>Amount Range</h4>
  <h4>Date</h4>
</aside>