<%- contentFor('page_title') %>Dashboard

  <%- contentFor('body') %>
    <div class="container dashboard-wrapper">
      <aside>
        <h4 class="text-center">Dashboard</h4>
        <canvas id="incomesTotalChart"></canvas>
        <!-- <canvas id="expensesTotalChart"></canvas> -->
        <div class="card-container margin-top-20">
          <div class="card">
            <div class="card-header">Total Income</div>
            <div id="totalIncomeValue" class="card-value text-success text-medium"></div>
          </div>
          <div class="card">
            <div class="card-header">Total Expenses</div>
            <div id="totalExpenseValue" class="card-value text-danger text-medium"></div>
          </div>
        </div>

      </aside>
      <main>
        <div class="content-wrapper">
          <h4 class="text-center">Expense Trend</h4>
          <canvas id="expenseTrendChart"></canvas>
        </div>
      </main>

      <div id="transactions-data" data-transactions='<%- JSON.stringify(transactions) %>'></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard.js"></script>