<%- contentFor('page_title') %>Change Account Password

  <%- contentFor('body') %>
    <%- include('../partials/settings-sidebar') %>
      <main>
        <h1>
          Change Account Password
        </h1>
        <div class="content-wrapper">
          <div class="md-content-width transaction-detail">
            <form action="/profile/password" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <div class="form-group">
                <label for="old_password" class="text-medium">Old Password</label>
                <input type="password" name="old_password">
              </div>
              <div class="form-group">
                <label for="new_password" class="text-medium">New Password</label>
                <input type="password" name="new_password">
              </div>
              <button type="submit" class="btn-primary">Change Password</button>
            </form>
          </div>
        </div>
      </main>