<%- contentFor('page_title') %>Login

  <%- contentFor('body') %>
    <h2>Login</h2>
    <p class="subtitle">Enter your credentials to access your account.</p>
    <form action="/login" method="post">

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" placeholder="email@domain.com" />
      </div>

      <div class="form-group">
        <div class="spacer">
          <label for="password">Password</label>
          <span><a href="#">Forgot Password?</a></span>
        </div>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn-primary">Login</button>
      </div>
    </form>
    <p>
      Don't have an account? <a href="/signup">Register here.</a>
    </p>