<%- contentFor('page_title') %>All Transactions

  <%- contentFor('body') %>
    <div class="container body-wrapper">
      <%- include('../partials/sidebar') %>
        <main>
          <h1>All Transactions</h1>
          <div class="content-wrapper">
            <%- include('../partials/transactions-table') %>
          </div>
        </main>
    </div>